<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>CE85D388-6592-4222-B360-D3341515FE91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4FE90C4-2EBA-4009-B51B-0F2AA659B307</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4FE90C4-2EBA-4009-B51B-0F2AA659B307</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B48A22C-37EA-4096-AF8C-0D27D4F2E349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABDCE813-29B4-4361-9235-F4E91C223042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arno Moonens</string>
	<key>description</key>
	<string>decodes url</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL decoder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>urld</string>
				<key>subtext</key>
				<string>Place your encoded url</string>
				<key>text</key>
				<string>URL Decoder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE85D388-6592-4222-B360-D3341515FE91</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Decoded url ({query}) is in your clipboard</string>
				<key>title</key>
				<string>URL Decoder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2B48A22C-37EA-4096-AF8C-0D27D4F2E349</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python urld.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4FE90C4-2EBA-4009-B51B-0F2AA659B307</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ABDCE813-29B4-4361-9235-F4E91C223042</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B48A22C-37EA-4096-AF8C-0D27D4F2E349</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ABDCE813-29B4-4361-9235-F4E91C223042</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CE85D388-6592-4222-B360-D3341515FE91</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D4FE90C4-2EBA-4009-B51B-0F2AA659B307</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
